/* Global */
:root {
  /* Color */
  --color-navy: #222433;
  --color-yellow: #9c824a;
  --color-beige: #ede7e7;
  --color-white: #ffffff;

  /* Font weight */
  --weight-extrabold: 600;
  --weight-bold: 500;
  --weight-semibold: 400;
  --weight-regular: 300;
  --weight-light: 50;

  /* font size */
  --font-large: 25px;
  --font-medium: 18px;
  --font-regular: 17px;
  --font-small: 15px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  font-family: "Poppins", sans-serif;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: var(--color-navy);
  font-weight: var(--weight-regular);
  /* font-size: var(--font-medium); */
}

ul.navbar__menu,
ul.portfolio__categ {
  font-weight: var(--weight-regular);
  list-style: none;
  padding-left: 0;
}

/* .portfolio__categ {
  display: flex;
} */

/* button { */
/* font-family: "Poppins", sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-beige);
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 14px; */
/* display: block;
  margin: auto;
  align-items: center; */
/* } */

/* Typography */

h1 {
  font-weight: var(--weight-extrabold);
  margin: 0;
  font-size: var(--font-large);
}

h2 {
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
  margin: 0;
}

h3 {
  font-weight: var(--weight-semibold);
  font-size: var(--font-regular);
}

p {
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
  margin: 0;
}

/* Navbar */
#navbar {
  position: fixed;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  align-items: center;
  color: var(--color-navy);
  padding: 0 20px 0 20px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 5px 12px;
  margin: 0px 4px;
  cursor: pointer;
  font-size: var(--font-small);
}

.navbar__menu__item.active {
  color: var(--color-yellow);
}

.navbar__menu__item:hover {
  color: var(--color-yellow);
}

.navbar__logo {
  display: inline-block;
}

/* Navbar Toggle Button */
.navbar__toggle-btn {
  position: absolute;
  top: 22px;
  right: 32px;
  display: none;
}

.container {
  display: inline-block;
  cursor: pointer;
  right: 2px;
}

.bar1,
.bar2,
.bar3 {
  width: 27px;
  height: 1px;
  background-color: var(--color-navy);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-1px, -1px);
  transform: rotate(45deg) translate(-2px, -2px);
}

/* About */
#about {
  /* background: url("img/imagination.png") center/contain no-repeat;
  background-size: 60%; */
  /* background-size: cover; */
  padding: 40px 30px 25px 70px;
  /* text-align: center; */
  color: var(--color-navy);
}
.about__container{
  justify-content: center;
  align-items: center;
}
img.about__img {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}
.about__name {
  font-weight: var(--weight-extrabold);
  font-size: 38px;
  margin: 25px 0 5px 0;
}
.about__title {
  font-weight: 350;
  /* margin-top: 5px; */
  margin-bottom: 45px;
}
.fa-github, .fa-envelope, .fa-linkedin{
  margin-left: 5px;
  margin-right: 0px;
  font-size:20px;
}
/* a.about__contact {
  margin: 5px;
}*/
.fa-github:hover {
  color: var(--color-yellow) !important;
}
.fa-linkedin:hover{
  color: var(--color-yellow) !important;
}
.fa-envelope:hover{
  color: var(--color-yellow) !important;
} 
.about__major {
  font-weight: var(--weight-semibold);
  font-size: 16px;
  color: var(--color-navy);
  max-width: 1200px;
  margin: 0 70px 5px 0;
}
.about__intro {
  font-weight: var(--weight-regular);
  font-size: 16px;
  font-style: italic;
  color: var(--color-navy);
  max-width: 1200px;
  margin-top: 0;
  margin-bottom: 28px;
}

.about__description {
  font-weight: var(--weight-regular);
  font-size: 15px;
  color: var(--color-navy);
  max-width: 1200px;
  margin: 0 70px 5px 0;
}
.highlight {
  color: #e8c16d;
}

/* Sections in common */
.section {
  padding: 60px 95px 70px 95px;
  text-align: center;
  width: 100%;
}

.section2 {
  padding: 17px 0;
  text-align: center;
  width: 100%;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Work */
#work{
  background-color: #f7f7f7;
  padding: 35px 92px 20px 95px;
}
#skills {
  cursor: auto;
}

h1.skills {
  color: var(--color-navy);
  margin-bottom: 10px;
  font-size: 25px;
}

.skills__skillset {
  display: flex;
  column-gap: 90px;
  /* justify-content: space-evenly; */
  margin: 0;
}
.skillset__industry{
  flex-grow: 1;
  flex-basis: 0;
}
.skillset__academia{
  flex-grow: 1;
  flex-basis: 0;
}
.skillset__title{
  color: var(--color-navy);
  font-size: 18px;
  font-weight: var(--weight-bold);
  margin-bottom: 25px;
}
.work__title{
  font-size: 17px;
  margin-bottom: 6px;
}
.work__position{
  margin: 0;
  font-size: 18px;
  font-weight: var(--weight-bold);
}
p.work__description{
  margin-bottom: 50px;
  text-align:left;
}
li.work__description{
  text-align: left;
  margin-bottom: 10px;
}
.work__time{
  margin: 0 0 8px 0;
  font-size: 14px;
  font-style: italic;
  font-weight: 10;
}
ul.work__description{
  margin-bottom: 50px;
  padding-left: 20px;
  font-weight: 200;
  font-size: var(--font-small);
}
a.work__description{
  font-size: var(--font-small);
  color:#9c824a;
}
.work__icon {
  color: var(--color-black);
  margin: 0px;
  font-weight: var(--weight-regular);
  font-size: 25px;
  transition: all var(--animation-duration) ease-in-out;
  padding: 0;
  line-height: 20px;
}

/* Projects */
#projects {
  background-color: var(--color-navy);
  color: var(--color-white);
  transition: all var(--animation-duration) ease-in-out;
}

/* .portfolio__categ {
  justify-content: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.portfolio__categ__item {
  padding: 15px 5px;
  margin: 0px 5px;
  cursor: pointer;
}

.portfolio__categ__item:hover {
  color: var(--color-yellow);
} */

.portfolio__thesis,
.portfolio__projects{
  display: flex;
  align-items: center;
  margin-top: 25px;
  /* padding: 40px 0; */
  color: var(--color-beige);
}
.research{
  display: flex;
  align-items: center;
  padding: 40px 0 0 0;
  color: var(--color-navy);
}
/* #research.section {
  padding: 70px 95px 50px 95px;
  text-align: center;
  width: 100%;
} */

.project,
.thesis,
.research {
  margin: 0 50px;
  text-align: left;
}

.thesis__title,
.project__title {
  color: var(--color-yellow);
  margin: 0 0 5px 0;
}

.thesis__description,
.project__description {
  /* font-weight: 10px; */
  font-size:  var(--font-small);
  font-weight: var(--weight-light);
  margin: 0 0 5px 0;
}
li.project__description__bullet{
  font-size: 15px;
  margin-bottom: 5px;
}
p.project__description__bullet{
  font-size: 15px;
  margin-bottom: 5px;
}
a.project__description__bullet{
  font-size: 15px;
  /* font-weight: var(--weight-bold); */
  color:var(--color-yellow);
}

.project__hashtags {
  display: flex;
}

.thesis__hashtag,
.project__hashtag {
  margin: 0px 7px 0 0;
  color: var(--color-yellow);
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
}

.thesis__logo,
.project__logo {
  width: 380px;
  height: 380px;
  border-radius: 80%;
  margin-right: 40px;
  margin-left: 40px;
}

.thesis__icon{
  color: var(--color-navy);
  margin-right: 2px;
  font-weight: var(--weight-regular);
  font-size: 25px;
  transition: all var(--animation-duration) ease-in-out;
  padding: 0;
  line-height: 20px;
}

.project__icon {
  color: var(--color-white);
  margin: 0px;
  font-weight: var(--weight-regular);
  font-size: 25px;
  transition: all var(--animation-duration) ease-in-out;
  padding: 0;
  line-height: 20px;
}

img.project__icon {
  height: 30px;
}
/* a.research__icon{
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  color:#9c824a;
} */
img.thesis__icon2 {
  margin-right: 5px;
  font-weight: var(--weight-regular);
  font-size: 20px;
  transition: all var(--animation-duration) ease-in-out;
  padding: 0;
  line-height: 20px;
  /* width: 25%; */
  width:130px;
  height: 25%;
  position: relative;
  top: 4px;
}

.project__icon:hover,
.thesis__icon:hover {
  color: var(--color-yellow);
  font-size: 27px;
}

#research {
  background-color: #f7f7f7;
  transition: all var(--animation-duration) ease-in-out;
}
.thesis,
.project,
.research {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* Contact */
.contact__rights {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
}

.contact__links,
.contact__rights {
  color: var(--color-navy);
}

a.contact__icon{
  margin: 5px;
  font-size: 23px;
}

a.contact__icon:hover{
  color: var(--color-yellow);
  font-size: 25px;
}


@media screen and (max-width: 768px) {
  :root {
    --font-large: 30px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 14px;
  }

  /* Typography */
  #about {
    padding: 150px 17px 60px 25px;
  }
  .about__name {
    font-size: var(--font-large);
    margin-bottom: 25px;
  }

  .about__title {
    font-size: 21px;
  }

  .about__description {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .thesis__hashtag,
  .project__hashtag {
    font-size: 12px;
  }

  .thesis__title,
  .project__title,
  .work__title {
    font-size: 18px;
  }
  .work__position{
    font-size: 16px;
  }
  .work__time{
    font-size: 14px;
    font-weight: 100;
  }
  .thesis__description,
  .project__description,
  .work__description {
    font-size: 13px;
    padding: 0 0 0 20px;
  }

  /* navbar */
  .navbar__logo {
    flex: 1 0 calc(100% - 50px);
    width: calc(100% - 50px);
  }
  .navbar__toggle-btn {
    display: block;
  }

  .container {
    display: block;
  }

  #navbar {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-beige);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  /* Work Experience */

  .skills__skillset {
    flex-direction: column;
  }

  .skillset__description {
    margin-bottom: 60px;
  }

  #work,
  #projects,
  #research
  {
    padding: 60px 20px 20px 20px;
    width: 100%;
  }
  h1.skills{
    font-size: 28px;
    margin-bottom: 10px;
  }
  h2.skillset__title{
    font-size: var(--font-medium);
    margin-bottom: 15px;
  }

  /* #projects{
    padding: 100px 20px 20px 20px;
    width: 100%;
  } */

  .section__container {
    width: 100%;
  }

  .thesis,
  .projects,
  .research__body {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .thesis__logo,
  .project__logo {
    width: 300px;
    height: 300px;
    border-radius: 80%;
    margin-right: 40px;
    margin-left: 40px;
  }

  .thesis__title,
  .thesis__description,
  .project__title,
  .project__description,
  .work__description {
    text-align:left;
    /* white-space:break-spaces; */
  }

  .thesis__description,
  .project__description,
  .work__description {
    line-height: 1.7em;
  }

  p.project__description,
  p.work__description {
    padding: 0;
  }

  .portfolio__thesis,
  .portfolio__projects,
  .research {
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: justify;
  }

  .thesis__logo,
  .project__logo {
    order: 1;
    margin: 0;
    margin-bottom: 20px;
  }
  .thesis,
  .project,
  .research__body {
    order: 2;
  }

  /* .portfolio__thesis:after {
    content: "";
    display: inline-block;
    width: 100%;
  } */
}
