/* Global */
:root {
  /* Color */
  --color-navy: #222433;
  --color-yellow: #9c824a;
  --color-beige: #ede7e7;
  --color-darkwhite: #f5f5ef;
  --color-white: #ffffff;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */

h1 {
  font-family: "Playfair Display", serif;
  font-size: var(--font-large);
  color: var(--color-navy);
  margin: 16px 0px;
  letter-spacing: 1px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-navy);
  margin: 8px 0;
}

h3,
p {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  color: var(--color-navy);
  margin: 8px 0;
}

/* p {
    font-family: "Roboto", sans-serif;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
} */
