/* Global */
:root {
  /* Color */
  --color-navy: #222433;
  --color-yellow: #9c824a;
  --color-beige: #ede7e7;
  --color-white: #ffffff;

  /* Font weight */
  --weight-extrabold: 600;
  --weight-bold: 500;
  --weight-semibold: 400;
  --weight-regular: 300;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: default;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-navy);
  font-weight: var(--weight-semibold);
  font-size: 25px;
}

ul {
  font-weight: var(--weight-regular);
  list-style: none;
  padding-left: 0;
}

.portfolio__categ {
  display: flex;
}

button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-beige);
  border: none;
  outline: none;
  font-weight: 300;
  font-size: 14px;
  /* display: block;
  margin: auto;
  align-items: center; */
}

/* Typography */

h1 {
  font-weight: var(--weight-extrabold);
  margin: 0;
  font-size: 40px;
}

h2 {
  font-weight: var(--weight-bold);
  margin: 0;
}

h3 {
  font-weight: var(--weight-semibold);
}

p {
  font-size: var(--weight-regular);
  margin: 0;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  align-items: center;
  color: var(--color-navy);
  padding: 0 50px 0 50px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
}

/* .navbar__menu__item:active {
  background-color: var(--color-yellow);
  border-radius: 4px;
} */

.navbar__menu__item:hover {
  color: var(--color-yellow);
}

/* About */
#about {
  background: url("img/background4.001.png") center/cover;
  padding: 250px 25px 250px 50px;
  /* text-align: center; */
  color: var(--color-white);
}
.about__name {
  font-weight: var(--weight-extrabold);
  font-size: 50px;
  margin: 0;
}
.about__title {
  font-weight: var(--weight-bold);
  font-size: 30px;
  margin: 0 0 45px;
}
.about__description {
  font-weight: var(--weight-regular);
  font-size: 18px;
  color: var(--color-white);
  max-width: 1200px;
}
.highlight {
  color: #9c824a;
}

/* Sections in common */
.section {
  padding: 100px 0;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Skills */
h1.skills {
  color: var(--color-navy);
  margin: 0 0 50px 0;
}
.skills__skillset {
  display: flex;
  justify-content: space-around;
  margin: 0 0 70px 0;
}

.skillset__title,
.skillset__description {
  color: var(--color-navy);
}

/* .skills__bootcamp {
  color: var(--color-beige);
  text-align: start;
  padding: 80px;
  background-color: var(--color-navy);
  margin: 0;
}

.bootcamp__name,
.bootcamp__description {
  font-weight: var(--weight-regular);
}
.title {
  font-weight: var(--weight-semibold);
} */

/* Portfolio */
#portfolio {
  background-color: var(--color-navy);
  color: var(--color-white);
}

.portfolio__categ {
  justify-content: center;
}

.categ__btn {
  display: flex;
  justify-content: center;
  margin: auto;
}

.categ__btn__item {
  padding: 15px 5px;
  margin: 0px 5px;
  cursor: pointer;
}

.categ__btn__item:hover {
  color: var(--color-yellow);
}

.portfolio__projects {
  display: flex;
  align-items: center;
  padding: 40px 0;
  color: var(--color-beige);
}

.project {
  margin: 0 50px;
  text-align: left;
}

.project__title {
  color: var(--color-yellow);
}

.project__description {
  font-weight: var(--weight-regular);
}

.project__hashtag {
  padding: 15px 0 0 0;
  color: var(--color-yellow);
  font-weight: var(--weight-bold);
}

.project__link {
  font-weight: var(--weight-regular);
  color: var(--color-beige);
  font-weight: var(--weight-regular);
}

img.project {
  width: 450px;
  height: 450px;
  border-radius: 80%;
}
